* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;

  --dark-header: #082032;
  --vibrant: #eca72c;
  --vibrant-lighter: #ffcb70;
  --font-light: #ddd;
  --bg-dark: #3c5467;
  --card-dark: #263140;
  --card-border-dark: rgb(18, 38, 48);
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;

  line-height: 1.5;

  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h1,
h2 {
  font-weight: unset;
}

button {
  border: none;
  box-shadow: none;
  font: inherit;
}

.logo,
.book-title {
  font-family: "Limelight", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 1rem;

  background: var(--dark-header);
  color: var(--font-light);

  height: 100px;
}

.add-book-section {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

.add-book-section button {
  background: var(--vibrant);
  width: 150px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid var(--vibrant-lighter);
}

.logo {
  display: flex;
  gap: 18px;
  letter-spacing: 1px;
}

.logo-svg {
  height: 50px;
  width: 50px;
  fill: var(--font-light);
  position: relative;
  top: -3px;
}

.content {
  background: var(--bg-dark);
}

.card-container {
  padding: 12px 32px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.card {
  background: var(--card-dark);
  color: var(--font-light);

  border-radius: 10px;
  border: 1px solid var(--dark-header);

  position: relative;
}

.book-title {
  background: var(--vibrant);
  color: #111;
  border-radius: 9px 9px 0 0;
  padding-left: 8px;
}

.card p {
  padding-left: 8px;
  margin: 2px 0 6px;
}

.form-container {
  background: var(--card-border-dark);
  width: clamp(350px, 40%, 400px);
  padding: 18px;

  border: 4px solid var(--dark-header);
  border-radius: 12px;

  position: fixed;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 0);

  color: var(--font-light);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.form-container.closed {
  display: none;
}

.form-container > * {
  width: 300px;
}

.form-cell {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 36px;
}

input {
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  font: inherit;
  border: none;
}

input:focus {
  outline: none;
}

.book-form input[type="text"],
.book-form input[type="tel"] {
  padding: 6px 12px;
  border-radius: 18px;
  height: 36px;
}

.book-form input[type="tel"] {
  width: 150px;
}

.book-form button {
  background: var(--vibrant);
  height: 36px;
  border-radius: 18px;
  border: 2px solid var(--vibrant-lighter);
}

.book-form label {
  padding-left: 6px;
  letter-spacing: 1px;
}

.book-form input[type="checkbox"] {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: #fff;
}

.book-form input[type="checkbox"]:checked::after {
  content: "✔";
  font-size: 2.2rem;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  display: block;
  color: var(--dark-header);
  position: relative;
  top: -12px;
  left: -1px;
}

.book-form input[type="checkbox"]:checked {
  border: 3px solid var(--vibrant);
}

.form-cell.checkbox {
  padding: 0;
  align-items: center;
}

.delete-book {
  background: var(--vibrant);
  width: 24px;
  height: 24px;

  position: absolute;
  top: 9px;
  right: 7px;
}
