* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 18px;

  --dark-blue: #172a3a;
  --yellow: #f4d35e;
  --light-yellow: #fbefc6;
  --header-font-light: #ddd;
  --bg-light-blue: #e2edf3;
  --card-blue: #305c73;
  --card-border-blue: #244556;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;

  line-height: 1.5;
}

button {
  border: none;
  box-shadow: none;
  font: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  padding: 1rem;

  background: var(--dark-blue);
  color: var(--header-font-light);

  height: 100px;
}

.add-book-section {
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-items: center;
  justify-content: center;
}

.add-book-section button {
  background: var(--yellow);
  width: 150px;
  height: 30px;
  border-radius: 15px;
  border: 2px solid var(--light-yellow);
}

.logo {
  display: flex;
  gap: 18px;
}

.logo-svg {
  height: 50px;
  width: 50px;
  fill: var(--header-font-light);
}

.content {
  background: var(--bg-light-blue);
}

.card-container {
  padding: 12px 32px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
}

.card {
  background: var(--card-blue);
  color: var(--header-font-light);

  border-radius: 10px;
  border: 1px solid var(--dark-blue);
}

.book-title {
  background: var(--yellow);
  color: #111;
  border-radius: 9px 9px 0 0;
  padding-left: 8px;
}

.card p {
  padding-left: 8px;
  margin: 2px 0 6px;
}

.form-container {
  background: var(--card-border-blue);
  width: clamp(350px, 40%, 400px);
  padding: 18px;

  border: 4px solid var(--dark-blue);
  border-radius: 12px;

  position: fixed;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 0);

  color: var(--header-font-light);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.form-container.closed {
  display: none;
}

.form-container > * {
  width: 300px;
}

.form-cell {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 36px;
}

input {
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  font: inherit;
  border: none;
}

input:focus {
  outline: none;
}

.book-form input[type="text"],
.book-form input[type="tel"] {
  padding: 6px 12px;
  border-radius: 18px;
  height: 36px;
}

.book-form input[type="tel"] {
  width: 150px;
}

.book-form button {
  background: var(--yellow);
  height: 36px;
  border-radius: 18px;
  border: 2px solid var(--light-yellow);
}

.book-form label {
  padding-left: 6px;
  letter-spacing: 1px;
}

.book-form input[type="checkbox"] {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  background-color: #fff;
}

.book-form input[type="checkbox"]:checked::after {
  content: "✔";
  font-size: 2.2rem;
  width: 28px;
  height: 28px;
  border-radius: 14px;
  display: block;
  color: var(--dark-blue);
  position: relative;
  top: -12px;
  left: -1px;
}

.book-form input[type="checkbox"]:checked {
  border: 3px solid var(--yellow);
}

.form-cell.checkbox {
  padding: 0;
  align-items: center;
}
